#bubbles {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 280px !important;
  height: 280px !important;
}

#bubblesImage1 {
  animation: vertMovement 5s infinite;
}
#bubblesImage2 {
  animation: vertMovement 5s 0.7s infinite;
  transform: translateY(50px);
}

#medusaLogo {
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  opacity: 0.7;
  animation-name: Prespect;
  transition: 0.8s ease-in-out;
  animation-duration: 4s;
}

#medusaLogo:hover {
  transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
  filter: drop-shadow(10px 7px 3px #000);
}

#medusaLogo img {
  animation-name: movement;
  animation-duration: 6s;
  transition: 0.8s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes Prespect {
  0% {
    transform: perspective(0px) rotateY(25deg) scale(0.8) rotateX(10deg);
  }
  50% {
    transform: perspective(800px);
  }
  75% {
    transform: perspective(800px) rotateY(-15deg) rotateX(10deg);
  }
  100% {
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  }
}

@keyframes movement {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

@keyframes vertMovement {
  0% {
    scale: 1;
    margin-bottom: 0px;
  }
  50% {
    scale: 0.8;
    margin-bottom: 20px;
  }
  100% {
    scale: 1;
    margin-bottom: 0px;
  }
}
